@font-face {
	font-family: "gropled";
	font-weight: 600;
	font-style: bold;
	src:
		url("./../../fonts/gropled/gropled-bold.woff2") format("woff2"),
		url("./../../fonts/gropled/gropled-bold.woff") format("woff"),
		url("./../../fonts/gropled/gropled-bold.ttf") format("truetype"),
		url("./../../fonts/gropled/gropled-bold.otf") format("opentype");
	font-display: swap;
}