@import './variables.scss';

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	transition: 0.3s ease-in-out;
	color: $base-color-text-inverse;

	&.theme-active {
		color: $base-color-text;
	}
}

.header {
	background-color: $base-color-background;

	&.theme-active {
		background-color: $base-color-background-inverse;
	}
}

#themeToggle {
	position: relative;
	width: 50px;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s ease-in-out;

	&:hover {
		opacity: 0.8;
	}

	.sun-theme,
	.moon-theme {
		position: absolute;
		top: 0;
		left: 0;
		transition: 0.3s ease-in-out;
	}

	.sun-theme {
		opacity: 1;
		color: $base-theme-no-active;
	}

	.moon-theme {
		opacity: 0;
	}
}

#themeToggle.theme-active {

	.sun-theme {
		color: $base-theme-no-active;
		opacity: 0;
	}

	.moon-theme {
		opacity: 1;
		color: $base-color-text;
	}
}

.page {
	&__body {
		background-color: $base-color-background;

		&.theme-active {
			background-color: $base-color-text-inverse;
			;
		}
	}
}