$primary-font: 'gropled',
'Arial',
sans-serif;
$secondary-font: 'manrope',
'Roboto',
sans-serif;
$text-font: 'manrope',
'Arial',
sans-serif;

$base-color-text-assistant: #464646;
$base-color-text: #000000;
$base-color-background: #000000;
$base-color-text-inverse: #ffffff;
$base-color-background-inverse: #ffffff;
$base-color-border: #ffffff;
$base-background-button-dark: #000000;
$base-background-button-white: #ffffff;
$base-background-button-pink: #ffb5d9;
$base-border-button-dark: #000000;
$base-border-button-white: #ffffff;
$base-border-button-pink: #ffb5d9;
$base-border-button-gray:#909AA833;

$base-theme-no-active: #fd9d00;

$base-background-light: #e2de80;
$base-background-light-pink: #ffb5d9;
$base-theme-background: #123555;
$base-background-dark: #909AA833;

$base-gray-opacity-20: #909aa820;
$base-gray-opacity-10: #909aa818;

$tablet: 768px;
$desktop: 1680px;