.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}

.modal.opened {
	display: block;

	.container {
		position: relative;
	}

	.form {
		display: grid;
		justify-content: center;
		padding: 10px;

		&__wrapper {
			display: grid;
			gap: 10px;
			margin-bottom: 10px;

			input {
				margin-right: 10px;
				padding: 10px;
				border: 1px solid black;
			}

			input[type="email"] {
				max-width: inherit;
				padding-right: 150px;
			}

			.email {
				position: relative;
				height: 37px;
				max-width: 50%;
			}

			.prefix-email {
				padding: 10px;
				position: absolute;
				border: 1px solid black;
				border-left: none;
				right: 0;
				top: 0;
				height: inherit;
			}
		}

		&__submit {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 50%;
			min-height: 40px;
		}
	}

	#closeSign {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		transition: 0.3s ease-in-out;

		&:hover {
			opacity: 0.9;
		}
	}
}