@import './../global/variables.scss';

/*Кнопки-закладки В избранное, 32 отзыва, Поделитьса на странице товара*/
.container-bookmark {
  min-height: 60px;
}

.bookmark-buttons {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__item button {
    margin-right: 16px;
  }

  &__item button:last-child {
    margin-right: 0;
  }

  &__btn {
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: $base-color-text-inverse;
    background-color: $base-border-button-gray;
    border: none;
    border-radius: 100px;
    padding: 14px 30px 14px 70px;
    min-height: 60px;
  }

  &__btn:hover {
    background-color: $base-border-button-white;
    color: $base-border-button-dark;
  }

  &__btn:hover span {
    color: $base-border-button-dark;
  }

  &__wishlist {
    min-width: 212px;
    position: relative;

    svg {
      position: absolute;
      top: 19px;
      left: 30px;
      
    }
  }

  &__wishlist:hover svg path{
    stroke: #000;
  }

  /* &__wishlist::before {
    content: '';
    position: absolute;
    background-image: url('./../../images/icons/icons-heart.svg');
    width: 24px;
    height: 24px;
    top: 18px;
    left: 30px;
  } */

  &__review {
    min-width: 189px;
  }

  &__review span {
    margin-right: 5px;
  }

  &__share {
    min-width: 209px;
  }
}