@import './../global/variables.scss';

.cart-page {
	.header .decors-circle {
		display: none;
	}
}

/*блок Заголовок*/
.title-head {
	&__wrapper {
		display: flex;
		justify-content: space-between;

		h2 {
			margin-bottom: 0;
		}
	}

	&__text {
		font-size: 44px;
		font-weight: 700;
	}
}

/*Кнопкa Bыбрать все*/
.buttons-control {
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	&__item {
		display: flex;
		border: 1px solid red;
	}

	&__all {
		min-width: 212px;
		margin-right: 16px;
	}
}

.cart {
	display: flex;
	gap: 20px;
	padding-bottom: 180px;

	&__items {
		flex-grow: 1;
		margin: 0;
		list-style-type: none;
		padding: 0;
		display: grid;
		gap: 20px;

		.characteristics {
			display: flex;
			justify-content: space-between;
			gap: 20px;
		}

		.characteristics__wrapper {
			flex-grow: 1;
			margin-top: -25px;
		}
	}

	&__res {
		background-color: $base-border-button-pink;
		min-height: 100px;
		max-height: 400px;
		flex-grow: 1;

		.characteristics__cart {
			height: 60px;
			align-self: end;
		}
	}

	.characteristics__buttons-wrapper {
		min-width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 20px;
		align-items: flex-end;
	}

	.characteristics__result {
		margin: 0;
	}

	.characteristics__result span:last-of-type {
		font-size: 32px;
	}

	.characteristics__table {
		empty-cells: hide;
		margin-top: -10px;

		.line-decor {
			position: relative;

			&::after {
				content: "";
				bottom: -20px;
				left: 0;
				width: 100%;
				height: 1px;
				position: absolute;
				background-color: #464646;
			}
		}
	}

	.characteristics__counter {
		max-width: 178px;

		input {
			width: 50px;
		}
	}

	.height-row {
		height: 30px;
	}

	.characteristics__row .heading {
		font-size: 32px;
		color: $base-color-text;
	}
}

.buttons-product-item {
	display: flex;
	align-items: center;
	gap: 20px;

	.buttons-product-text {
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		color: $base-color-text;
		background: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		display: flex;
		gap: 10px;
		align-items: center;

		&:hover {
			opacity: 0.6;

			.mark {
				opacity: 0.6;
			}
		}

		&:active {
			opacity: 0.2;
		}
	}

	.like-button .mark {
		display: block;
		width: 25px;
		height: 25px;
		mask-image: url('./../../images/vectors/like.svg');
		background-color: $base-color-background;
	}

	.trash-button .mark {
		display: block;
		width: 25px;
		height: 25px;
		background-image: url('./../../images/vectors/trash.svg');
	}

	input[type='checkbox']+span.mark {
		display: block;
		width: 22px;
		height: 22px;
		border-radius: 2px;
		background-color: transparent;
		transition: none;
		border: 2px solid $base-background-button-dark;
		cursor: pointer;
	}

	input[type='checkbox']:checked+span.mark {
		width: 22px;
		height: 22px;
		border-radius: 2px;
		background-color: $base-background-button-dark;
		background-image: url('./../../images/vectors/aprove.svg');
		background-size: 15px 15px;
		background-repeat: no-repeat;
		background-position: center;
	}

	input[type='checkbox']:hover+span.mark {
		opacity: 0.8;
	}

	input[type='checkbox']:focus+span.mark {
		border: 2px solid $base-border-button-pink;
	}

	input[type='checkbox']:disabled+span.mark {
		opacity: 0.2;
		cursor: auto;
	}


}