.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	position: relative;
	z-index: 1;

	&__list {
		display: flex;
		justify-content: flex-end;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__list-item {
		font-size: 16px;
		flex-grow: 1;

		&:not(:first-of-type) {
			margin-left: 20px;
		}
	}

	&__link {
		min-width: max-content;

		&--active {
			color: white;
		}
	}
}