.sertificates {
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__item {
    margin-right: 20px;
  }
  &__item:last-child{
    margin-right: 0;
  }
  &__item-img {
    width: 493px;
    height: 348px;
    border-radius: 20px;
  }
}
