<header class="header">
	<div class="container">
		<a class="logo" href="#">
			<img src="./images/icons/logo.svg" alt="logo">
		</a>
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__list-item">
					<a class="link nav__list-link" href="#">Каталог товаров</a>
				</li>
				<li class="nav__list-item">
					<a class="link nav__list-link" href="#">О компании</a>
				</li>
				<li class="nav__list-item">
					<a class="link nav__link--active" href="#">Способы оплаты</a>
				</li>
				<li class="nav__list-item">
					<a class="link nav__list-link" href="#">Контакты</a>
				</li>
			</ul>
			<ul class="auth">
				<li>
					<a class="link auth__sign" href="#">Регистрация</a>
				</li>
				<li>
					<a class="link auth__login" href="#">Вход</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
