<header class="header">
	<div class="container">
		<a class="logo" href="#">
			<img src="#" alt="logo">
		</a>
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__list-item">
					<a href="#">Каталог товаров</a>
				</li>
				<li class="nav__list-item">
					<a href="#">О компании</a>
				</li>
				<li class="nav__list-item">
					<a class="link nav__link--active" href="#">Способы оплаты</a>
				</li>
				<li class="nav__list-item">
					<a href="#">Контакты</a>
				</li>
			</ul>
		</nav>
		<ul class="user_action">
			<li>
				<a class="sign_up" href="#">Регистрация</a>
			</li>
			<li>
				<a class="loh_in" href="#">Вход</a>
			</li>
		</ul>
	</div>
</header>
