<header class="header">
    <div class="container">
        <a href="#">
            <img src="" alt="logo">
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a href="#">Каталог товаров</a>
                </li>
                <li class="nav__list-item">
                    <a href="#">О компании</a>
                </li>
                <li class="nav__list-item">
                    <a class="link nav__link--active" href="#">Способы оплаты</a>
                </li>
                <li class="nav__list-item">
                    <a href="#">Контакты</a>
                </li>
            </ul>
        </nav>
        <ul>
            <li>
                <a href="#">Регистрация</a>
            </li>
            <li>
                <a href="#">Вход</a>
            </li>
        </ul>
    </div>
</header>
