<section class="modal">
	<div class="container">
		<h2>Зарегистрироваться</h2>

		<form class="form" method="post" action>
			<div class="form__wrapper">
				<label><input type="text" name="userName" placeholder="Андрей Андреевич Изосимов">Введите ваше имя<sub>*</sub></label>
				<label>
					<div class="email">
						<input type="email" name="email" placeholder="example@mail.ru">
						<select class="prefix-email" id>
							<option value>gmail.com</option>
							<option value>mail.ru</option>
							<option value>yandex.ru</option>
						</select>
					</div>Введите ваш email <sub>*</sub>
				</label>
				<label><input type="password" name="password">Введите ваш пароль <sub>*</sub></label>
			</div>
			<button class="form__submit" type="submit">Отправить</button>
		</form>

		<button type="button" id="closeSign">X</button>
	</div>
</section>
